body{
    background-color: silver;
}

.main_container {
    margin-left: 50px;
    margin-top: 40px;
}

.base {
    height: 453px;
    width: 575px;
}

.vinyl_record_container {
    margin-left: 5px;
    margin-top: -437px;
}

.vinyl_record {
    height: 400px;
    width: 400px;
}

.button_container {
    margin-left: 430px;
    margin-top: -60px;
}

.button {
    height: 50px;
}

.vinyl_record_animation {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transition: all 10s linear;
    -webkit-transition: all 10s linear;
    -moz-transition: all 10s linear;
    -o-transition: all 10s linear;
}